:root {
    --primary-color: #92cdcc;
    --secondary-color: #30343c;
    --third-color: #ecedf7;
    --fourth-color: #455976;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    background-color: var(--secondary-color);
}

#header h1 {
    background-color: var(--primary-color);
    padding: 5px;
}

.name {
    font-size: 40px;
    color: var(--secondary-color);
}

#header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    margin: 0 50px 0 0;
    align-items: center;
}

#header nav ul li a {
    font-size: 19px;
    color: var(--primary-color);
    border-bottom: var(--primary-color) 3px solid;
    padding: 0 7px;
}

/* Hero */
#hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#hero h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 8px;
    margin: 0 50px 20px 0;
    font-size: 35px;
}

/* All titles */
.title {
    text-align: right;
    font-size: 40px;
    color: var(--fourth-color);
    width: 175px;
}

.title-box {
    border-right: var(--fourth-color) 3px solid;
    padding-right: 20px;
    margin-left: 8%;
}

/* About me section */
#about-me article {
    display: flex;
    margin: 40px 0;
}

#about-me article div p {
    margin: 0 100px 0 10px;
    color: var(--fourth-color);
}

.content {
    width: 700px;
    display: flex;
}
.content img {
    height: 200px;
    margin-left: 30px;
}

/* Work section */
#work article {
    display: flex;
    margin: 40px 0;
}

.run-buddy {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 500px;
    height: 400px;
    margin-left: 40px;
    border: var(--primary-color) 5px solid;
    background-image: url(../images/run-buddy.jpg);
    background-color: var(--fourth-color);
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
}

.run-buddy:hover {
    background-blend-mode: normal;
}

#row-1 {
    display: flex;
    margin: 20px 0 0 40px;
    gap: 20px;
}

.work-small {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 235px;
    height: 100px;
    border: var(--primary-color) 5px solid;
    background-image: url(../images/default-work.jpg);
    background-color: var(--fourth-color);
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
}

.work-small:hover {
    background-blend-mode: normal;
}

.text-block {
    background-color: var(--primary-color);
    padding: 7px;
    margin: 0 auto 10px 0;
}

.work-title {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: bold;
}

.work-type {
    color: var(--secondary-color);
    font-size: 15px;
}

/* Contact me section */
#contact-me article {
    display: flex;
    margin: 40px 0;
}

.contact-links {
    display: flex;
    width: 100%;
    gap: 20px;
    list-style-type: none;
    margin-top: 40px;
    margin-left: 40px;
}

.contact-links li a {
    font-size: 19px;
    color: var(--secondary-color);
    border-bottom: var(--fourth-color) 3px solid;
    padding: 0 7px;
}

/* Resume section */
#resume article {
    display: flex;
    margin: 40px 0;
}

#resume article p {
    margin: 0 100px 0 30px;
    color: var(--fourth-color);
}

/* Footer */
footer {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
}

/* Media Querys for smaller screens */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
        padding: auto;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        margin-top: 30px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        height: 100px;
    }
    .title {
        text-align: center;
        font-size: 40px;
        color: var(--fourth-color);
        width: auto;
    }
    
    .title-box {
        border-right: 0;
        border-bottom: var(--fourth-color) 3px solid;
        padding-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    #about-me article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about-me article div p {
        margin: auto;
        width: 200px;
        color: var(--fourth-color);
    }
    .content img {
        width: 200px;
        margin-left: 0px;
    }
    #work article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .run-buddy {
        width: 400px;
        height: 400px;
        margin: 0 0 0 0;
    }
    #row-1 {
        margin: 10px 0;
        gap: 20px;
    }
    .work-small {
        width: 190px;
        height: 100px;
    }
    #contact-me article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-links {
        display: flex;
        gap: 10px;
        list-style-type: none;
        margin-left: 0px;
        justify-content: center;
        flex-wrap: wrap;
    }
    #resume article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #resume article p {
        margin: 0px;
        width: auto;
        text-align: center;
    }
}
@media screen and (max-width: 575px) {
    .run-buddy {
        width: 375px;
    }
    #row-1 {
        margin: 10px 0;
        gap: 17px;
    }
    .work-small {
        width: 180px;
        height: 100px;
    }
    .contact-links {
        flex-direction: column;
        align-items: center;
    }
}