:root {
    --primary-color: #92cdcc;
    --secondary-color: #30343c;
    --third-color: #ecedf7;
    --fourth-color: #455976;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--secondary-color);
}

#header h1 {
    background-color: var(--primary-color);
    padding: 5px 5px 5px 50px;
}

.name {
    font-size: 40px;
    color: var(--secondary-color);
}

#header nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0 50px 0 0;
}

#header nav ul li a {
    font-size: 19px;
    color: var(--primary-color);
    border-bottom: var(--primary-color) 3px solid;
    padding: 0 7px;
}

/* Hero */
#hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#hero h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 8px;
    margin: 0 50px 20px 0;
    font-size: 35px;
}

/* All titles */
.title {
    text-align: right;
    font-size: 40px;
    color: var(--fourth-color);
    width: 175px;
}

.title-box {
    border-right: var(--fourth-color) 3px solid;
    padding-right: 20px;
    margin-left: 8%;
}

/* About me section */
#about-me article {
    display: flex;
    margin: 40px 0;
}

#about-me article p {
    margin: 0 100px 0 30px;
    color: var(--fourth-color);
}

.content {
    width: 500px;
}

/* Work section */
#work article {
    display: flex;
    margin: 40px 0;
}

.run-buddy {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 500px;
    height: 400px;
    margin-left: 40px;
    border: var(--primary-color) 5px solid;
    background-image: url(../images/run-buddy.jpg);
    background-color: var(--fourth-color);
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
}

.run-buddy:hover {
    background-blend-mode: normal;
}

#row-1 {
    display: flex;
    margin: 20px 0 0 40px;
    gap: 20px;
}

.work-small {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 235px;
    height: 100px;
    border: var(--primary-color) 5px solid;
    background-image: url(../images/default-work.jpg);
    background-color: var(--fourth-color);
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
}

.work-small:hover {
    background-blend-mode: normal;
}

.text-block {
    background-color: var(--primary-color);
    padding: 7px;
    margin: 0 auto 10px 0;
}

.work-title {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: bold;
}

.work-type {
    color: var(--secondary-color);
    font-size: 15px;
}

/* Contact me section */
#contact-me article {
    display: flex;
    margin: 40px 0;
}

.contact-links {
    display: flex;
    width: 100%;
    gap: 20px;
    list-style-type: none;
    margin-top: 40px;
}

.contact-links li a {
    font-size: 19px;
    color: var(--secondary-color);
    border-bottom: var(--fourth-color) 3px solid;
    padding: 0 7px;
}

/* Resume section */
#resume article {
    display: flex;
    margin: 40px 0;
}

#resume article p {
    margin: 0 100px 0 30px;
    color: var(--fourth-color);
}

/* Footer */
footer {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
}